openapi: 3.2.0
info:
  title: Predibase Models API
  description: Specification of the Predibase API surfaces documented at https://docs.predibase.com.
  termsOfService: https://predibase.com/terms-of-service
  contact:
    name: Predibase Support
    email: support@predibase.com
    url: https://docs.predibase.com
  version: '2.0'
servers:
- url: https://serving.app.predibase.com/{tenant}/deployments/v2/llms/{model}
  description: Inference (serving) base. tenant is your Predibase tenant ID (Settings > My Profile); model is the deployment name (Deployments page). The OpenAI-compatible routes live under the /v1 suffix of this base.
  variables:
    tenant:
      default: TENANT_ID
      description: Predibase tenant ID.
    model:
      default: DEPLOYMENT_NAME
      description: Deployment name (base model deployment).
- url: https://api.app.predibase.com/v2
  description: Control plane base for fine-tuning, adapters, deployments, datasets, and models.
security:
- bearerAuth: []
tags:
- name: Models
paths:
  /models:
    get:
      operationId: listModels
      tags:
      - Models
      summary: List supported base models
      responses:
        '200':
          description: A list of supported base models.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Predibase API token
      description: 'Predibase API token sent as Authorization: Bearer <PREDIBASE_API_TOKEN>. Generate a token from Settings in the Predibase console.'
