openapi: 3.0.1
info:
  title: Predibase Adapters API
  description: 'Specification of the Predibase API surfaces documented at https://docs.predibase.com. Two planes are covered: (1) the inference data plane on https://serving.app.predibase.com, which exposes an OpenAI-compatible chat/completions interface plus native generate / generate_stream text-generation endpoints, scoped per tenant and deployment; and (2) the control plane on https://api.app.predibase.com, which manages fine-tuning jobs, adapter repositories, deployments, datasets, and base models. All endpoints authenticate with a Predibase API token sent as an HTTP Bearer token.'
  termsOfService: https://predibase.com/terms-of-service
  contact:
    name: Predibase Support
    email: support@predibase.com
    url: https://docs.predibase.com
  version: '2.0'
servers:
- url: https://serving.app.predibase.com/{tenant}/deployments/v2/llms/{model}
  description: Inference (serving) base. tenant is your Predibase tenant ID (Settings > My Profile); model is the deployment name (Deployments page). The OpenAI-compatible routes live under the /v1 suffix of this base.
  variables:
    tenant:
      default: TENANT_ID
      description: Predibase tenant ID.
    model:
      default: DEPLOYMENT_NAME
      description: Deployment name (base model deployment).
- url: https://api.app.predibase.com/v2
  description: Control plane base for fine-tuning, adapters, deployments, datasets, and models.
security:
- bearerAuth: []
tags:
- name: Adapters
paths:
  /repos:
    post:
      operationId: createRepo
      tags:
      - Adapters
      summary: Create an adapter repository.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepoRequest'
      responses:
        '200':
          description: The created adapter repository.
    get:
      operationId: listRepos
      tags:
      - Adapters
      summary: List adapter repositories.
      responses:
        '200':
          description: A list of adapter repositories.
  /repos/{repoName}:
    get:
      operationId: getRepo
      tags:
      - Adapters
      summary: Get an adapter repository.
      parameters:
      - name: repoName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The adapter repository and its versions.
    delete:
      operationId: deleteRepo
      tags:
      - Adapters
      summary: Delete an adapter repository.
      parameters:
      - name: repoName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The repository was deleted.
components:
  schemas:
    RepoRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Predibase API token
      description: 'Predibase API token sent as Authorization: Bearer <PREDIBASE_API_TOKEN>. Generate a token from Settings in the Predibase console.'
